<div class = "row">
  <div class = "col-sm-offset-4 col-sm-4">

    <h2>Registrarse</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label 'Nombre de Usuario' %><br />
      <%= f.text_field :username %>
    </div>

    <div class="field">
      <%= f.label 'Contraseña' %>
      <% if @minimum_password_length %>
      <em>(Mínimo <%= @minimum_password_length %> caracteres)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label 'Confirma Contraseña' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Registrarte" %>
    </div>
    <% end %>

<%= render "devise/shared/links" %>
  </div>
</div>


