<%= render "usermenu", :locals => {:option => 1 }%>
<div class = "row">
<div class="col-md-3">
  <%=render "userprofile" %>
</div>
<div class="col-md-9">
  <div class="panel panel-primary">
    <div class = "panel-heading">
      <h3 class= "menu-title"><i>Tus compras</i></h3>
    </div>
    <div class = "panel-body">
      <table class="table table-striped">
      <% @user.buys.each do |buy| %>
      <tr>
        <td width="10%">
          <img class = "round-image-100" src= <%= buy.item.avatar.url(:thumb) %>>
        </td>
        <td width="50%" id= <%= buy.id %>>
          <h4><%= link_to( buy.item.title , item_path(buy.item.id)) %></h4>
            <% if buy.item.open_to_apply == true %>
              <span class="label label-default">Aceptando compradores</span>
            <% end %>
            <% if buy.item.open_to_pay == true %>
              <span class="label label-success">Aceptando pagos</span>
              <span class="label label-success payment-sent <% if buy.payment_sent == false %> hidden <% end %> ">Pago Enviado</span>
                <% if buy.payment_received == true %>
                <span class="label label-success">Pago Recibido</span>
              <% end %>
            <% end %>
            <% if buy.item.open_to_send == true %>
              <span class="label label-success">Realizando envios</span>
              <% if buy.item_sent == true %>
                <span class="label label-success">Articulo Enviado</span>
              <% end %>
              <span class="label label-success item-received <% if buy.item_received == false %> hidden <% end %> ">Articulo Recibido</span>
            <% end %>
            <% if buy.item.all_sent == true %>
              <span class="label label-success">Compra Enviada</span>
            <% end %>
            <% if buy.item.closed_status == true %>
              <span class="label label-danger">Venta Cerrada</span>
            <% end %>    
        </td>
        <td width="40%">
        <div class="btn-group pull-right" role="group" aria-label="...">
        <% if buy.item.open_to_pay == true %>
          <a href="#" class="btn btn-default btn-sm"%>Forma de Pago</a>
          <a href="#" class="btn btn-default btn-sm payment-send-btn" id= <%= buy.id %> >Enviar Pago</a>
        <% end %>
        <% if buy.item.open_to_send == true %>
          <a href="#" class="btn btn-default btn-sm item-confirm-btn" id= <%= buy.id %> >Articulo Recibido</a>
        <% end %>        
          <%= link_to 'Contactar', new_message_path(from: current_user.id, user_id: buy.item.user_id, subject: buy.item.title), class: 'btn btn-default btn-sm' %>

          <%= link_to 'Eliminar', buy_path(buy.id), :method => 'delete', class: 'btn btn-default btn-sm' %>
        </div>
        </td>
      </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
</div>