<div class = "row">
<div class="col-md-3">
  <%=render "userprofile" %>
</div>
<div class="col-md-9">
  <div class="panel panel-primary">
    <div class = "panel-heading">
      <h3 class= "menu-title"><i>Tus compras</i></h3>
    </div>
    <div class = "panel-body">
      <table class="table table-striped">
      <% @user.buys.each do |buy| %>
      <tr>
        <td width="10%">
          <img class = "round-image-100" src= <%= buy.item.avatar.url(:thumb) %>>
        </td>
        <td width="50%" id= <%= buy.id %>>
                              <!-- Modal Payment-->
                <div class="modal fade payment"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><img class = "round-image-50" src= <%= buy.item.avatar.url(:thumb) %>> <%= buy.item.title %></h4>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li><strong>Forma de Pago:</strong> <%= buy.item.form_of_payment %></li>
                          <li><strong>Cuenta:</strong> <%= buy.item.payment_details %></li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Fin Modal -->
                <!-- Modal Scores-->
                <div class="modal fade scores"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <form role="search" method="post" action="/scores">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel"><img class = "round-image-50" src= <%= buy.item.user.avatar.url(:thumb) %>> Votar a <%= buy.item.user.username %></h4>
                        </div>
                        <div class="modal-body">
                          <div class="form-group">
                            <label class="radio-inline">
                              <input type="radio" name="score" id="inlineRadio1" value=1> 1
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="score" id="inlineRadio2" value=2> 2
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="score" id="inlineRadio3" value=3> 3
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="score" id="inlineRadio4" value=4> 4
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="score" id="inlineRadio5" value=5> 5
                            </label><br>
                            <input type="text" class="form-control" name="description" placeholder="Cuentanos qué tal fue la compra">
                            <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token">
                            <input type="hidden" value= <%= buy.item.user_id %> name="user_id">
                            <input type="hidden" value= <%= buy.id %> name="buy_id">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- Fin Modal -->
          <h4><%= link_to( buy.item.title , item_path(buy.item.id)) %></h4>
          <h6><%= buy.item.prize %> €</h6>
            <p>
            <% if buy.item.open_to_apply == true %>
              <span class="label label-default" data-toggle="tooltip" title="Aceptando compradores"><span class="glyphicon glyphicon-user"></span></span>
            <% end %>
            <% if buy.item.open_to_pay == true %>
              <span class="label label-success" data-toggle="tooltip" title="Aceptando pagos"><span class="glyphicon glyphicon-euro"></span></span>

              <span class="label label-default payment-sent <% if buy.payment_sent == false %> hidden <% end %> " data-toggle="tooltip" title="Pago Enviado"><span class="glyphicon glyphicon-share"></span></span>
                <% if buy.payment_received == true %>

                <span class="label label-success" data-toggle="tooltip" title="Pago Enviado"><span class="glyphicon glyphicon-share"></span></span>
              <% end %>
            <% end %>
            <% if buy.item.open_to_send == true %>
              <span class="label label-success" data-toggle="tooltip" title="Realizando envios"><span class="glyphicon glyphicon-road"></span></span>
              <% if buy.item_sent == true %>

                <span class="label label-default" data-toggle="tooltip" title="Artículo enviado"><span class="glyphicon glyphicon-gift"></span></span>
              <% end %>
              <span class="label label-success item-received <% if buy.item_received == false %> hidden <% end %> " data-toggle="tooltip" title="Artículo marcado como recibido"><span class="glyphicon glyphicon-gift"></span></span>
            <% end %>
            <% if buy.item.all_sent == true %>
              <span class="label label-success" data-toggle="tooltip" title="Compra Enviada"><span class="glyphicon glyphicon-gift"></span></span>
            <% end %>
            <% if buy.item.closed_status == true %>
              <span class="label label-danger" data-toggle="tooltip" title="Venta Cerrada" ><span class="glyphicon glyphicon-remove"></span></span>
            <% end %>
            </p>    
        </td>
        <td width="40%">
        <div class="btn-group pull-right" role="group" aria-label="...">
        <% if buy.item.open_to_pay == true %>
          <span data-toggle="tooltip" title="Ver forma de pago">
            <a href="#" data-toggle="modal" data-target="#<%= buy.id %> .modal.payment" ><span class="glyphicon glyphicon-euro"></span></a>
          </span>
          <span data-toggle="tooltip" title="Marcar pago como enviado">
          <a href="#" class="payment-send-btn" id= <%= buy.id %> ><span class="glyphicon glyphicon-share"></span></a>
          </span>
        <% end %>
        <% if buy.item.open_to_send == true %>
          <span data-toggle="tooltip" title="Marcar artículo como recibido">
          <a href="#" class="item-confirm-btn" id= <%= buy.id %> ><span class="glyphicon glyphicon-gift"></span></a>
          </span>
        <% end %>
        <% if (buy.item.all_sent == true) && (buy.is_voted? == false) %>
        <span data-toggle="tooltip" title="Votar vendedor">
           <a href="#" data-toggle="modal" data-target="#<%= buy.id %> .modal.scores" ><span class="glyphicon glyphicon-thumbs-up"></span>
           </a>
        </span>
        <% end %>

          <%= link_to new_message_path(from: current_user.id, user_id: buy.item.user_id, subject: buy.item.title),
                    'data-toggle' =>"tooltip",
                    'data-original-title' => "Contactar vendedor",
                    'data-placement' => 'auto top' do%>
                <span class="glyphicon glyphicon-envelope"></span>
          <% end %>

          <%= link_to buy_path(buy.id), :method => 'delete',:data => {:confirm => 'Deseas salir de esta compra?'},
                    'data-toggle' =>"tooltip",
                    'data-original-title' => "Eliminar",
                    'data-placement' => 'auto top' do%>
                <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </div>
        </td>
      </tr>
      <% end %>
      </table>
    </div>
  </div>
</div>
</div>