<% if @item.owner == current_user.id %>
	<ul class="nav nav-pills">
 		<li role="presentation"><a href= <%= item_path %> >Vista</a></li>
  		<li role="presentation" class="active"><a href= <%= edit_item_path %> >Editar</a></li>
  		<li role="presentation"><a href= <%= users_list_path %> method = "post" id=item.id >Gestionar Compradores</a></li>
  		<li role="presentation"><a href="#">Acciones Generales</a></li>
	</ul>
<% end %>
<h2>Editar</h2>
<%= form_for(@item) do |f| %>

  <div class="field">
    <%= f.label 'Titulo' %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label 'Descripcion' %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label 'Imagen Principal' %><br />
    <%= image_tag @item.avatar.url(:thumb) %><br />
    <%= f.file_field :avatar %>
  </div>


  <div class="field">
    <%= f.label 'Fabricante' %><br />
    <%= f.text_field :seller %>
  </div>

  <div class="field">
    <%= f.label 'Web del fabricante' %><br />
    <%= f.url_field :seller_url %>
  </div> 

  <div class="field">
    <%= f.label 'Precio' %><br />
    <%= f.number_field :prize %>
  </div> 

  <div class="field">
    <%= f.label 'Cantidad minima' %><br />
    <%= f.number_field :min_units %>
  </div> 

  <div class="field">
    <%= f.label 'Fecha limite' %><br />
    <%= f.date_field :expiration_date %>
  </div> 

  <div class="field">
    <%= f.label 'Hora limite' %><br />
    <%= f.time_field :expiration_time %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>