<% if user_signed_in? %>
<% if @item.user_id == current_user.id %>
	<ul class="nav nav-pills">
  <%= render "itemmenu", :locals => {:option => 1 }%>
<% end %>
<% end %>
<%= form_for(@item) do |f| %>

<p></p>
<div class="panel panel-primary">
    <div class = "panel-heading">
      <div class = "row">
        <div class = "col-md-8">
          <h2 class="item-edit-text"><%= f.text_field :title, autofocus: true %></h2>
        </div>
        <div class = "col-md-4">
         
        </div>
      </div>      
    </div>
    <div class = "panel-body">
      <div class = "row">
      <div class="col-md-4">
        <img class = "img-responsive round-item-avatar-big" src =  <%= @item.avatar.url(:big)%> >
        <%= f.file_field :avatar %>
        <p>
        <ul>
          <li>En: <%= f.select :category, [['Informática y Tecnología','Informática y Tecnología'],['Coches y Motos','Coches y Motos'],['Deporte y Tiempo Libre','Deporte y Tiempo Libre'],['Muebles y Cosas de Casa','Muebles y Cosas de Casa'],['Consolas y Videojuegos','Consolas y Videojuegos'],['Música, Libros, Películas','Música, Libros, Películas'],['Moda y Complementos','Moda y Complementos'],['Niños, Bebés y Juguetes','Niños, Bebés y Juguetes'],['Electrodomesticos','Electrodomesticos'],['Otros','Otros']] %></li>
          <li>Inicia la venta: <%= @item.user.username %> </li>
          <li>Fabricante: <%= f.text_field :seller %></li>
          <li>Web del fabricante: <%= f.url_field :seller_url %></li>
          <li>Precio: <%= f.number_field :prize %>€</li>
          <li>Pedido minimo: <%= f.number_field :min_units %></li>
          <li>Nº de compradores: <%= @item.number_of_buyers %></li>
          <li>Vence el: <%= f.date_field :expiration_date %></li>
        </ul>
        </p>
        <p>
        <ul>
          <li>Forma de Pago:<%= f.select :form_of_payment, [['Paypal','Paypal'],['Transferencia','Transferencia'],['Contra Reembolso','Contra Reembolso'],['Otra','Otra']] %></li>
          <li>Cuenta de Pago:  <%= f.text_field :payment_details %></li>
        </ul>
        </p>
        </div>
      <div class="col-md-8">
        <%= f.cktext_area :description, :ckeditor => {:uiColor => '#8DBD0C', :toolbar => 'mini'} %>
      </div>
      <div class="actions">
        <%= f.submit "Actualizar" %>
        </div>
    </div>
  </div>
<% end %>