<% if user_signed_in? %>
<% if @item.user_id == current_user.id %>
	<ul class="nav nav-pills">
  <%= render "itemmenu", :locals => {:option => 1 }%>
<% end %>
<% end %>
<%= simple_form_for(@item, html: { class: 'form-horizontal' }) do |f| %>

<p></p>
<div class="panel panel-primary">
    <div class = "panel-heading">
      <div class = "row">
        <div class = "col-md-12">

          <h2 class="item-edit-text"><%= f.input :title, autofocus: true, label: false, placeholder: 'Titulo', input_html: {class: 'form-control input-lg' }%></h2>
        </div>
      </div>      
    </div>
    <div class = "panel-body">
      <div class = "row">
      <div class="col-md-4">
        <img class = "img-responsive round-item-avatar-big" src =  <%= @item.avatar.url(:big)%> >
        <%= f.file_field :avatar, { :class => 'form-control' } %>
        <p>
        <ul>
          <li>En: <%= f.select :category, [['Informática y Tecnología','Informática y Tecnología'],['Coches y Motos','Coches y Motos'],['Deporte y Tiempo Libre','Deporte y Tiempo Libre'],['Muebles y Cosas de Casa','Muebles y Cosas de Casa'],['Consolas y Videojuegos','Consolas y Videojuegos'],['Música, Libros, Películas','Música, Libros, Películas'],['Moda y Complementos','Moda y Complementos'],['Niños, Bebés y Juguetes','Niños, Bebés y Juguetes'],['Electrodomésticos','Electrodomésticos'],['Otros','Otros']], {}, { :class => 'form-control' } %></li>
          <li>Inicia la venta: <%= @item.user.username %> </li>
          <li>Fabricante: <%= f.input :seller, input_html: {class: 'form-control' }, label: false, placeholder: 'Nombre del Fabricante' %> </li>
          <li>Web del fabricante: <%= f.input :seller_url, input_html: {class: 'form-control' }, label: false, placeholder: 'Sitio Web', as: :url %></li>
          <li>Precio: <%= f.input :prize, placeholder: 'Precio', as: :integer, label: false %>€</li>
          <li>Pedido minimo:  <%= f.input :min_units, placeholder: 'Cantidad Minima', as: :integer, label: false %></li>
          <li>Nº de compradores: <%= @item.number_of_buyers %></li>
          <li>Vence el: <%= f.input :expiration_date, placeholder: 'Fecha Limite', as: :date, label: false %></li>
        </ul>
        </p>
        <p>
        <ul>
          <li>Forma de Pago:<%= f.select :form_of_payment, [['Paypal','Paypal'],['Transferencia','Transferencia'],['Contra Reembolso','Contra Reembolso'],['Otra','Otra']], {}, { :class => 'form-control' } %></li>
          <li>Cuenta de Pago:  <%= f.input :payment_details, input_html: {class: 'form-control' }, label: false, placeholder: 'Cuenta de Pago' %></li>
        </ul>
        </p>
        </div>
      <div class="col-md-8">
        <%= f.cktext_area :description, :ckeditor => {:uiColor => '#8DBD0C', :toolbar => 'mini'} %>
      </div>
      <div class="row">
        <div class="col-sm-offset-9 col-sm-2">
          <div class="actions">
            <%= f.submit "Actualizar", :class => 'form-control'%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>