<% if user_signed_in? && @item.user_id == current_user.id %>
  <%= render "itemmenu", :locals => {:option => 2 }%>
<% end %>
<p></p>
<div class="panel panel-primary">
    <div class = "panel-heading">
      <div class = "row">
        <div class = "col-md-8">
          <h2 class= "menu-title"><i><%= @item.title %></i></h2>
        </div>
        <div class = "col-md-4">
         <% if user_signed_in? %>
          <% if @item.open_to_apply == true %>
            <div><p><%= button_to 'Apuntarse a esta compra', buys_path, :action => 'create', params:{ item_id: @item.id}, :method => 'post', class: 'btn btn-default btn-sm pull-right'%></p></div>
          <% else %>
            <div><p class = "pull-right label label-danger">Compra Cerrada</p></div>
          <% end %>
    <% else %>
      <div><p class = "pull-right">Necesitas iniciar sesión para apuntarte a esta compra</p></div>
    <% end %>
        </div>
      </div>      
    </div>
    <div class = "panel-body">
      <div class = "row">
        <div class="col-md-4">
          <%= render "itemprofile" %>
        </div>
      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class = "panel-heading">
            <h3 class= "menu-title"><i>Compradores</i></h3>
          </div>
          <div class = "panel-body">
            <table class="table table-striped">
              <% @item.buys.each do |buy| %>
                <tr id= <%= buy.id %>>
                  <td width="10%">
                    <img class = "round-image-50" src= <%= buy.user.avatar.url(:thumb) %>>
                                    <!-- Modal -->
                <div class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"><img class = "round-image-50" src= <%= buy.user.avatar.url(:thumb) %>> <%= buy.user.username %></h4>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li><strong>Email:</strong> <%= buy.user.email %></li>
                          <li><strong>Nombre:</strong> <%= buy.user.fullname %></li>
                          <li><strong>Direccion:</strong> <%= buy.user.address %> - <%= buy.user.city %> <br>(<%= buy.user.state %>) CP <%= buy.user.zipcode %></li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Fin Modal -->
                  </td>
                  <td width="50%">
                    <h4><%= buy.user.username %></h4>
                    <% if buy.item.open_to_pay == true %>
                      <span class="label label-success">Aceptando pagos</span>
                      <span class="label label-success payment-received <% if buy.payment_received == false %> hidden <% end %>">Pago Recibido</span>
                      <% if buy.payment_sent == true %>
                        <span class="label label-success">Pago Enviado</span>
                      <% end %>
                    <% end %>
                    <% if buy.item.open_to_send == true %>
                      <span class="label label-success">Aceptando envios</span>
                      <span class="label label-success item-sent <% if buy.item_sent == false %> hidden <% end %>">Articulo Enviado</span>
                      <% if buy.item_received == true %>
                        <span class="label label-success">Articulo Recibido</span>
                      <% end %>
                    <% end %>
                    <% if buy.item.all_sent == true %>
                      <span class="label label-success">Compra Enviada</span>
                    <% end %>

                  </td>
                  <td width="40%">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                      <% if buy.item.open_to_pay == true %>
                        <a href="#" class="btn btn-default btn-sm payment-confirm-btn" id= <%= buy.id %> >Pago Recibido</a>
                      <% end %>
                      <% if buy.item.open_to_send == true %>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#<%= buy.id %> .modal" >Datos de Envio</button>  
                        <a href="#" class="btn btn-default btn-sm item-sent-btn" id= <%= buy.id %> >Articulo Enviado</a>
                      <% end %>
                      <%= link_to 'Contactar', new_message_path(from: current_user.id, user_id: buy.user_id, subject: buy.item.title), class: 'btn btn-default btn-sm' %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>