<% if user_signed_in? && @item.user_id == current_user.id %>
  <%= render "itemmenu", :locals => {:option => 2 }%>
<% end %>
<p></p>
<div class="panel panel-primary">
    <div class = "panel-heading">
      <div class = "row">
        <div class = "col-md-8">
          <h2 class= "menu-title"><i><%= @item.title %></i></h2>
        </div>
        <div class = "col-md-4">
         <% if user_signed_in? %>
      <div><p><%= link_to 'Apuntarse a esta compra', buys_path, :action => 'create', params:{ item_id: @item.id}, :method => 'post', class: 'btn btn-default btn-sm pull-right'%></p></div>
    <% else %>
      <div><p class = "pull-right">Necesitas iniciar sesión para apuntarte a esta compra</p></div>
    <% end %>
        </div>
      </div>      
    </div>
    <div class = "panel-body">
      <div class = "row">
        <div class="col-md-4">
          <%= render "itemprofile" %>
        </div>
      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class = "panel-heading">
            <h3 class= "menu-title"><i>Compradores</i></h3>
          </div>
          <div class = "panel-body">
            <table class="table table-striped">
              <% @item.buys.each do |buy| %>
                <tr>
                  <td width="15%">
                    <img class = "round-image-50" src= <%= buy.user.avatar.url(:thumb) %>>
                  </td>
                  <td width="20%">
                    <h4><%= buy.user.username %></h4>
                    <% if buy.payment_sent == true %>
                      <span class="label label-success">Pago Enviado</span>
                    <% end %>
                    <% if buy.payment_received == true %>
                      <span class="label label-success">Pago Recibido</span>
                    <% end %>
                    <% if buy.item_sent == true %>
                      <span class="label label-success">Articulo Enviado</span>
                    <% end %>
                    <% if buy.item_received == true %>
                      <span class="label label-success">Articulo Recibido</span>
                    <% end %>
                  </td>
                  <td width="65%">
                    <div class="btn-group pull-right" role="group" aria-label="...">
                      <button type="button" class="btn btn-default">Pago Recibido</button>
                      <button type="button" class="btn btn-default">Item Enviado</button>
                      <button type="button" class="btn btn-default">Enviar Mensaje</button>
                    </div>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>