<h2>Crear venta</h2>
<%= form_for(@item) do |f| %>

  <div class="field">
    <%= f.label 'Titulo' %><br />
    <%= f.text_field :title, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label 'Categoria' %><br />
    <%= f.select :category, [['Informática y Tecnología','Informática y Tecnología'],['Coches y Motos','Coches y Motos'],['Deporte y Tiempo Libre','Deporte y Tiempo Libre'],['Muebles y Cosas de Casa','Muebles y Cosas de Casa'],['Consolas y Videojuegos','Consolas y Videojuegos'],['Música, Libros, Películas','Música, Libros, Películas'],['Moda y Complementos','Moda y Complementos'],['Niños, Bebés y Juguetes','Niños, Bebés y Juguetes'],['Electrodomesticos','Electrodomesticos'],['Otros','Otros']] %>
  </div>

  <div class="field">
    <%= f.label 'Descripcion' %><br />
    <%= f.cktext_area :description, :ckeditor => {:uiColor => '#8DBD0C', :toolbar => 'mini'} %>
  </div>

  <div class="field">
    <%= f.label 'Imagen Principal' %><br />
    <%= f.file_field :avatar %>
  </div>


  <div class="field">
    <%= f.label 'Fabricante' %><br />
    <%= f.text_field :seller %>
  </div>

  <div class="field">
    <%= f.label 'Web del fabricante' %><br />
    <%= f.url_field :seller_url %>
  </div> 

  <div class="field">
    <%= f.label 'Precio' %><br />
    <%= f.number_field :prize %>
  </div> 

  <div class="field">
    <%= f.label 'Cantidad minima' %><br />
    <%= f.number_field :min_units %>
  </div> 

  <div class="field">
    <%= f.label 'Fecha limite' %><br />
    <%= f.date_field :expiration_date %>
  </div>

  <div class="field">
    <%= f.label 'Forma de Pago' %><br />
    <%= f.select :form_of_payment, [['Paypal','Paypal'],['Transferencia','Transferencia'],['Contra Reembolso','Contra Reembolso'],['Otra','Otra']] %>
  </div>

  <div class="field">
    <%= f.label 'Cuenta de Pago' %><br />
    <%= f.text_field :payment_details %>
  </div>

  <div class="actions">
    <%= f.submit "Crear Venta" %>
  </div>
<% end %>
