<div class="panel panel-primary">
    <div class = "panel-heading">
      <div class = "row">
        <div class = "col-md-10">
          <h3 class= "menu-title"><i>Categorias</i></h3>
        </div>
      </div>
    </div>
    <div class = "panel-body">
      <div class="list-group">
      <%= link_to 'Informática y Tecnología', search_categories_path(category: 'Informática y Tecnología'), :action => 'get', :method => 'get', class: 'list-group-item'%>
      <%= link_to 'Coches y Motos', search_categories_path(category: 'Coches y Motos'), :action => 'get', :method => 'get', class: 'list-group-item'%>

      <%= link_to 'Deporte y Tiempo Libre', search_categories_path(category: 'Deporte y Tiempo Libre'), :action => 'get', :method => 'get', class: 'list-group-item'%>

      <%= link_to 'Muebles y Cosas de Casa', search_categories_path(category: 'Muebles y Cosas de Casa'), :action => 'get', :method => 'get', class: 'list-group-item'%>

      <%= link_to 'Consolas y Videojuegos', search_categories_path(category: 'Consolas y Videojuegos'), :action => 'get', :method => 'get', class: 'list-group-item'%>

      <%= link_to 'Música, Libros, Películas', search_categories_path(category: 'Música, Libros, Películas'), :action => 'get', :method => 'get', class: 'list-group-item'%>

      <%= link_to 'Moda y Complementos', search_categories_path(category: 'Moda y Complementos'), :action => 'get', :method => 'get', class: 'list-group-item'%>

      <%= link_to 'Niños, Bebes y Juguetes', search_categories_path(category: 'Niños, Bebes y Juguetes'), :action => 'get', :method => 'get', class: 'list-group-item'%>

      <%= link_to 'Electrodomésticos', search_categories_path(category: 'Electrodomésticos'), :action => 'get', :method => 'get', class: 'list-group-item'%>

      <%= link_to 'Otros', search_categories_path(category: 'Otros'), :action => 'get', :method => 'get', class: 'list-group-item'%>
	  </div>
    </div>
</div>