
<p>
<div class="row" style="height:200px;">
    <div class= "col-md-3">
        <p><img class = "round-image-100" src= <%= @items.first.avatar.url(:medium) %> ></p>
    </div>
     <div class= "col-md-3">
        <p><img class = "round-image-100" src= <%= @items.second.avatar.url(:medium) %> ></p>
    </div>
    <div class= "col-md-3">
        <p><img class = "round-image-100" src= <%= @items.third.avatar.url(:medium) %> ></p>
    </div>
    <div class= "col-md-3">
        <p><img class = "round-image-100" src= <%= @items.fourth.avatar.url(:medium) %> ></p>
    </div>   
</div>
<div class="row" style="height:200px;">
	<div class= "col-md-6">
		<i><span class="logo-text-bold">Buy</span><span class = "logo-text-normal">Junction</span></i>
	</div>
	<div class= "col-md-6">

	<div id="carousel-example" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner" style=" height: 200px; width: auto; overflow: hidden !important;">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <h3>Crea tu venta</h3>
                            <p>Genera tu venta de forma fácil y sencilla con BuyJunction. Añade imágenes, descripción, cantidades mínimas, y todos los datos necesarios para los compradores potenciales</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h3>Gestiona tu venta</h3>
                            <p>Contacta con los compradores, visualiza en tiempo real en qué estado se encuentra tu venta, qué compradores han pagado, quién ha recibido ya su item.. Todo de forma rápida y sencilla con BuyJunction</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h3>Integración con foros</h3>                            
                            <p>Publica tu venta de BuyJunction en tu foro favorito y aumenta la cantidad de potenciales compradores.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>



	</div>	
</div>
<div class="row" style="height:200px;">
   <div class= "col-md-3">
        <p><img class = "round-image-100" src= <%= @items.first.avatar.url(:medium) %> ></p>
    </div>
     <div class= "col-md-3">
        <p><img class = "round-image-100" src= <%= @items.second.avatar.url(:medium) %> ></p>
    </div>
    <div class= "col-md-3">
        <p><img class = "round-image-100" src= <%= @items.third.avatar.url(:medium) %> ></p>
    </div>
    <div class= "col-md-3">
        <p><img class = "round-image-100" src= <%= @items.fourth.avatar.url(:medium) %> ></p>
    </div>   
</div>

<% @items.each do |item| %>
	<p><img class = "round-image-100" src= <%= item.avatar.url(:thumb) %> ><%= link_to( item.title , item_path(item.id)) %></p>
<% end %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script>$('.carousel').carousel();</script>
