<!DOCTYPE html>
<html>
<head>
  <title>Buyjunction</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Kanit:400,500italic,900italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="mybody">
  <nav class="navbar navbar-default nav-bar">
  <div class="container-fluid ">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/assets/bjlogo.png" class = "logo-img"><i><span class="logo-text-bold">Buy</span><span class = "logo-text-normal">Junction</span></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <ul class="nav navbar-nav">
        
      </ul> -->

      <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="navbar-form" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      </li>
      <% if user_signed_in? %>
          <li>
            <button type = "button" class="btn btn-default navbar-btn">
                <%= link_to (current_user.username) + " ", profile_path, :action => 'get', :method => 'get'%><span class="badge">4</span>
            </button>
          </li>
          <li>
            <button type = "button" class="btn btn-default navbar-btn">
                <%= link_to 'Salir', destroy_user_session_path, :action => 'destroy', :method => 'delete'%>
            </button>
          </li>
        <% else %>
          <li>
            <button type = "button" class="btn btn-default navbar-btn">
                <%= link_to 'Registrarse', new_user_registration_path, :action => 'get', :method => 'get' %>
            </button>
          </li>
          <li>
            <button type = "button" class="btn btn-default navbar-btn">
                <%= link_to 'Conectar', new_user_session_path, :action => 'new', :method => 'get'%>
            </button>
          </li>
       <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
    <div class = "row container-fluid">
      <%= yield %>
    </div>
</body>
</html>
