<!DOCTYPE html>
<html>
<head>
  <title>Buyjunction</title>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" defer></script>
  <link href='https://fonts.googleapis.com/css?family=Kanit:400,500italic,900italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all'%>
</head>
<body class="mybody">
  <nav class="navbar navbar-default nav-bar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/assets/bjlogo.png" class = "logo-img"><i><span class="logo-text-bold">Buy</span><span class = "logo-text-normal">Junction</span></i></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="dropdown">
          <span class="navbar-brand dropdown-toggle logo-img" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
          <span class="caret"></span>
          </span  >
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <% if user_signed_in? %>
            <li>
              <img class = "round-image-50" src= <%= current_user.avatar.url(:thumb) %>>
            Hola, <%= current_user.username %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Tus Ventas", profile_path %></li>
            <li><%= link_to "Tus Compras", user_buys_path%></li>
            <li><%= link_to "Tus Mensajes" +  " (" + (current_user.unread_messages) + ")" , user_messages_path %></li>
            <li role="separator" class="divider"></li>
            <li>
                <%= link_to 'Salir', destroy_user_session_path, :action => 'destroy', :method => 'delete', :data => {:confirm => 'Deseas salir?'}%>
            </li>
          <% else %>
            <li>
                <%= link_to 'Registrarse', new_user_registration_path, :action => 'get', :method => 'get'%>
            </li>
            <li>
                <%= link_to 'Conectar', new_user_session_path, :action => 'new', :method => 'get'%>
            </li>
          <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form class="navbar-form" role="search" method="get" action="/search">
          <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Buscar...">
            <input type="hidden" value="<%= form_authenticity_token() %>" name="authenticity_token">
          </div>
          <button type="submit" class="btn btn-default hidden">Buscar</span></button>
          </form>
        </li>
      </ul>      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
    <div class = "row container-fluid main-content">
    <% flash.each do |key, value| %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="list-unstyled">
          <li class="text-center">
            <%= value %>
          </li>
        </ul>
      </div>
    <% end %>
      <%= yield %>
    </div>
</body>



</html>
