<!DOCTYPE html>
<html>
<head>
  <title>Buyjunction</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Kanit:400,500italic,900italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class = "row container-fluid nav-bar">
      <div class="col-md-1">
        <img src="/assets/bjlogo.png" class = "img-responsive">
      </div>
      <div class="col-md-2 nav-bar-text">
        <h2><i><span class="logo-text-bold">Buy</span><span class"logo-text-normal">Junction</span></i></h2>
      </div>      
      <div class="col-md-5">
        <form class="form-inline">
          <div class="form-group">
          <input type="text" class="form-control" id="search" placeholder="Buscar...">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </div>
        </form>
      </div>
       <% if user_signed_in? %>
          <div class="col-md-4">
            <%= link_to ('Hola, ' + current_user.username), profile_path, :action => 'get', :method => 'get'%> - <%= link_to 'Salir', destroy_user_session_path, :action => 'destroy', :method => 'delete'%>
          </div>
        <% else %>
          <div class="col-md-4">
            <%= link_to 'Registrarse', new_user_registration_path, :action => 'get', :method => 'get' %> - <%= link_to 'Conectar', new_user_session_path, :action => 'new', :method => 'get'%>
          </div>
       <% end %>
    </div>
    <div class = "row container">
      <%= yield %>
    </div>
</body>
</html>
