<!DOCTYPE html>
<html>
<head>
  <title>Buyjunction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
       <% if user_signed_in? %>
            
                    <div class="col-sm-4">

                        <%= button_to ('Hola, ' + current_user.username), profile_path, :action => 'get', :method => 'get', class: 'btn btn-success btn-sm text-capitalize btn-primary pull-right'%>

                                            
                        <%= button_to 'Salir', destroy_user_session_path, :action => 'destroy', :method => 'delete', class: 'btn btn-danger btn-sm text-capitalize btn-primary pull-right'%>


                        
                    </div>
                </div>
            </div>

        <% else %>

                    <div class="col-sm-4">
                        <%= button_to 'Registrarse', new_user_registration_path, :action => 'get', :method => 'get', class: 'btn btn-success btn-sm text-capitalize btn-primary pull-right'%>
                        <%= button_to 'Conectar', new_user_session_path, :action => 'destroy', :method => 'delete', class: 'btn btn-default btn-sm text-capitalize btn-primary pull-right'%>
                    </div>
                </div>
            </div>
        <% end %>

<%= yield %>

</body>
</html>
